autom4te*
autom4te.cache
*~
*.guess
stamp-h1
tmp/
.deps/
.libs/
Makefile
Makefile.in
src/Makefile.in
config.log
config.rpath
config.status
config.sub
config.h
*.la*
*.lo*
*.o
src/spotify.plugin
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
libtool
